body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
#back-wallpaper{
    position: absolute;
    /* display: none; */
    width:100%;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    background-size: cover;
}
#head-container{
    margin: 0;
    padding: 20px;
    height: 100%;
    width: 97%;
}
.classDate table{
    width: 100px;
}
.navbar{
    display: inline-grid;
    position:fixed;
    margin: auto;
    margin-left: 0px;
    height: 90%;
    width:160px;
    border:2px solid #c49550;
    border-radius: 20px 20px 20px 20px;
    background-color:	#d2d7d7;
    padding: 10px 10px 5px 5px;
    z-index: 1;
    opacity: 0.86;
}
.navbar button{
    margin: auto;
    width: 165px;
    font-weight: bold;
}

.navbar h2{
    margin-top: 5px;
    margin-bottom: 20px;
    padding-left: 20px;
    font-weight: bold;
    font-size: 35px;
}
/* to make navbar float up  */
.hidden{
    height: 1px;
}

/* utilities */
#head-container button{
    border-radius: 30px;
    height: 30px;
    outline: transparent;
}
.tab-btn:hover,.active,.res-tr:hover{
    background-color: #c49550;
    color: #fff;
    cursor: pointer;
    box-shadow: 5px 5px 5px #625644;
    
}
#head-container input{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    background-color:#fff ;
    border:2px solid #625644;
    border-radius: 5px;
    height: 40px;
    width: 170px;
    outline: transparent;
}
#head-container input::-webkit-input-placeholder,input::-moz-placeholder{
    font-weight: bold;
    color: rgb(0, 0, 0);
}
#head-container label,.final-amt{
    font-weight: bold;
    font-size: 20px;
    /* margin-right: 40px;
    margin-left: 40px; */
    margin: auto;
    text-align: center;
    
}


/* super container that contains all container  */
.super-container{
    z-index: 1;
    opacity: 0.86;
    margin: auto;
    margin-left: 190px;
    width: 1200px;
    background-color:	#d2d7d7;
    border: #c49550 solid 3px;
    border-radius:25px 25px 0px 0px;
}

/* header common to all  */
.header{
    border-radius:25px 25px 0px 0px;
    display: block;
    margin: 0px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    background-color: #c49550;
    font-size: 35px;
    font-family: 'Anton', sans-serif;
}

table{
    margin: auto;
    border:2px solid #c49550;
    width: 1200px;
}

th{
    display: flex;
    margin: auto;
    width: 110px;
}

.head-tr{
    font-size: 26px;
    background-color: #c49550;
    display: flex;
    margin: auto;
    font-weight: bold;
    align-items: center;
}
.res-tr,#selectedSell-product{
    display: flex;
    font-size: 22px;
}

td{
    width: 110px;
    display: block;
    margin: auto;
    word-wrap: break-word;
}
/* from here different containers */

/* add conatainer  */
.addProd-form{
    padding-top: 30px;
    text-align: center;
    margin: auto;
}
.basic-detail{
    display: flex;
    margin: auto;
}
.price-div{
    display: flex;
    margin: auto;
}
.date-div{
    display: flex;
    margin: auto;
    place-content: center;
    width: 600px;
}
.submit-btn{
    display: block;
    margin: auto;
    width: 90px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-content: center;
    text-align: center;
    align-self: auto;
    border:2px solid #c49550;
}
#seller{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 10px;
    border:2px solid #625644;
    height: 40px;
    width: 250px;
    font-size: 15px;
    font-weight: bold;
    background-color: #fff;
    outline: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
}
/* nearExp-prod container  */
.alertProd{
    background-color: rgb(206, 76, 76);
    color: #fff;
}
#nearExp-find,.clearExp-btn,.searchRef-btn,#print-btn,#billFind-btn,#deleteRef-btn,#deleteMatch-product,#oldBillRef-btn,#purEntry-btn,#partyInfo-btn,#getSaleRepo,#getPurRepo,#getProfitRepo,#updatePartyBtn,#partyHistoryBtn,#companyListRef{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    border-radius: 20px;
    height: 40px;
    width: 170px;
    font-size: 15px;
    font-weight: bold;
    
}

/* sell container  */
#selectedSell-product{
    display: block;
    background-color:#d2d7d7;


}
.two-btn{
    display: inline;
    margin: 30px 0px 30px 190px;
}
#clr-btn:hover{
    background-color: #b63636;

}
#checkOut-btn:hover{
    background-color: #54b151;
}
#first-billing-step-container .bill-input{
    width: 50px;
    height: 30px;
    margin: 0px 0px 0px 0px;
    border: 0px solid transparent;
}

.final-amt-label
{
    text-align: center;
}
.first-bill-th{
    width: 10%;
}
.first-bill-td{
    width: 80px;
}
.first-bill-tr{
    background-color: #d2d7d7;
}

#first-billing-step-container #invoNo{
    height:30px;width:100%;
    border:transparent;
    display:inline;
    font-weight:bold;
    margin:0px 0px;
    font-size:20px;
    background:transparent;
}



/* find bill container  */
.findBill-container .bill-finder-tool{
    display: block;
    justify-items:center;
    border-bottom: 2px solid black;
}

.findBill-container #oldInvoNo{
    height:30px;width:40px;
    border:transparent;
    display:inline;
    font-weight:bold;
    margin:0px 0px;
    font-size:20px;
    background:transparent;
}

/* manage inventory constainer  */

select{
    background-color: transparent;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    font-size: 20px;
    text-align-last:center;
}

/* purchase entry container  */
.purchase-container label,.partyManage-container label{
    display: flex;
    justify-content: space-around;
    margin: auto;
}
#selectParty,#repoSelect,#partyManageSelcet,#selectPartyInupdateParty,#selectPartyInHistory{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 20px;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-weight: bold;
    background-color: #fff;
    outline: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    border: 2px solid #625644;
}

/* sale purchase report  */
.repoDetail{
    display: inline-flex;
    margin-left:400px ;
}

/* manage party conatiner  */
