<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agrawal Medical Store</title>
    <link rel="stylesheet" href="./css/styl.css">
    <link rel="stylesheet" href="./css/sale-bill.css">
    <link rel="stylesheet" href="./css/login.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<body>
    <img id="back-wallpaper" src="/backGround.jpg" alt="">
    <div id="head-container" class="container">
        <div class="navbar">
            <!-- <h2>Agrawal Medical Store</h2> -->
            <button class="tab-btn" id="home-nav">Home</button>
            <button class="tab-btn" id="search-nav">Search Product</button>
            <button class="tab-btn" id="add-nav">Add Product</button>
            <button class="tab-btn" id="sell-nav">Sell Product</button>
            <button class="tab-btn" id="purEntry-nav">Purchase Entry</button>
            <button class="tab-btn" id="partyManage-nav">Party Manage</button>
            <button class="tab-btn" id="sellPur-nav">Sell/Purchase</button>
            <button class="tab-btn" id="findBill-nav">Find Bill</button>
            <button class="tab-btn" id="nearExp-nav">Near Expiry</button>
            <button class="tab-btn" id="manageInvent-nav">Manage Inventory</button>
        </div>
        <!-- <div class="hidden"></div> -->
        <div class="super-container">

            <!-- welcome container  -->
            <div class="welcome-container">
                <h2 class="header">Inventory Manager</h2>
                <div class="login-logout-btn">
                    <button id="login-btn" class="tab-btn">Login</button>
                    <button id="logout-btn" style="display: none;" calss="tab-btn">LogOut</button>
                    <button class="form-signUp-btn tab-btn" id="wlcm-wala-signUp-btn" type="button">Sign Up</button><br>
                </div>
                <!-- login pop up window -->
                <div id="id01" class="modal">
                    <!-- login form  -->
                    <form id="loginForm" class="modal-content animate">
                        <div class="imgcontainer">
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                            <img src="kanha.jpg" alt="Avatar" class="avatar">
                        </div>
                        <div class="container">
                            <label style="padding-left:43% ;" for="email"><b>E-mail</b></label>
                            <input id="email" type="text" placeholder="Enter E-mail" name="email" required>

                            <label style="padding-left:40% ;" for="psw"><b>Password</b></label>
                            <input id="pswd" type="password" placeholder="Enter Password" name="psw" required>
                            <button id="form-login-btn" class="tab-btn" type="submit">Login</button>
                            <button class="form-signUp-btn tab-btn" id="login-form-wala-signup-btn" type="button">Sign
                                Up</button><br>
                            <h4 style="padding-left:43% ;" for="">It's Free</h4>
                        </div>
                    </form>
                    <!-- sign up form  -->
                    <form id="signUpForm" class="modal-content animate" style="display: none;">
                        <div class="credentials" style="display: block;">
                            <h2 style="padding-left: 39%;" class="signUpFormLabel" for="">Sign Up</h2>
                            <hr>
                            <span onclick="document.getElementById('id01').style.display='none'" class="close"
                                title="Close Modal">&times;</span>
                            <input required type="text" name="userName" id="signUpUserName"
                                placeholder="Enter Your Name">
                            <input required type="text" id="signUpEmail" placeholder="Enter Your Email">
                            <input required type="password" name="new-password" id="newPassword"
                                placeholder="Enter Password">
                            <input required type="password" name="confirm-new-password" id="confirmNewPassword"
                                placeholder="Confirm Password">
                            <button id="signUpForm-signUp-btn" type="submit" class="tab-btn">Sign Up</button>
                            <p style="margin-left: 113px;">Already signed up but not verified</p>
                            <button id="verifyAccount-btn" class="tab-btn" type="button"
                                style="margin-left: 150px;width: 154px;font-weight: bold;">Verify Account</button>
                            <hr>
                            <button id="backToLogin-btn" type="button" class="tab-btn">Login</button><br>
                            <h5 style="padding-left: 32%;">Already have an account?</h5>
                            <hr>
                        </div>
                    </form>
                    <!-- otp verification form  -->
                    <form id="otpVerificationForm" class="modal-content animate" style="display: none;">
                        <div style="display: block;">
                            <h2 style="margin-left: 130px;">OTP Verification</h2>
                            <hr>
                            <h3 style="padding-left: 39%;">Enter OTP</h3>
                            <input type="text" id="signUpOtp">
                            <a style="text-decoration: none;color: black;cursor: pointer;margin-left: 190px;"
                                id="resendSignUpOtp">resend otp</a><br>
                            <input type="text" id="userEmailId" style="display: none;"><br>
                            <button type="button" class="tab-btn" id="otpSubmit-btn"
                                style="margin-left: 178px;width: 100px;">Submit</button>
                        </div>
                    </form>
                    <!-- resend otp form or verify account form  -->
                    <form id="verifyResendForm" class="modal-content animate" style="display: none;">
                        <h2 style="margin-left: 130px;">Resend OTP</h2>
                        <hr>
                        <input required type="text" id="emailForResend" placeholder="Enter you Email">
                        <button id="verifyAccountButton" style="margin-left: 178px;" class="tab-btn"
                            type="submit">Resend</button>
                    </form>
                </div>
            </div>
            <!-- search container  -->
            <div class="search-container" hidden>
                <h2 class="header">Search Product</h2>
                <input type="text" id="search" placeholder="Enter product name">
                <button class="searchRef-btn tab-btn">Refresh</button>
                <table>
                    <tr class="head-tr">
                        <th>Item&emsp;Name&emsp; </th>
                        <th>Company&emsp; </th>
                        <th>Pk.Qnty&emsp; </th>
                        <th>MRP&emsp; </th>
                        <th>Stock&emsp;tabs/btl&emsp;</th>
                        <th>Location</th>
                    </tr>
                </table>
                <div id="match-product"></div>
            </div>
            <!-- add product container  -->
            <div class="addProd-container" hidden>
                <h2 class="header">Add Product</h2>
                <form method="POST" id="addProd-form" autocomplete="off" class="addProd-form">
                    <div class="basic-detail">
                        <input type="text" required name="itemName" id="itemName" placeholder="Product Name">
                        <input type="text" required name="company" id="company" placeholder="Company Name">
                    </div>
                    <div class="basic-detail">
                        <input type="number" required name="qnty" id="qnty" placeholder="Tab pr Strip/Btl">
                        <input type="number" required name="stock" id="stock" placeholder="Strips/Bottles">
                    </div>
                    <div class="basic-detail price-div">
                        <input type="text" required name="price" id="price" placeholder="MRP">
                        <input type="text" required name="purPrice" id="rate" placeholder="Rate">
                        <input type="text" required name="purPrice" id="gst" placeholder="GST%">
                        <input type="text" required name="purPrice" id="netRate" placeholder="Net Rate">

                    </div>
                    <div class="date-div">
                        <label for="mnfDate" class="man-lab">Manufac Date</label>
                        <label for="expDate" class="exp-lab">Expiry Date</label>
                        <label for="purDate" class="pur-lab">Purchase Date</label>
                    </div>
                    <div class="date-div" id="date-id">
                        <input type="date" required name="mnfDate" id="mnfDate" placeholder="Manufacture Date">
                        <input type="date" required name="expDate" id="expDate" placeholder="Expiry Date">
                        <input type="date" required name="purDate" id="purDate" placeholder="Purchase Date">
                    </div>
                    <select name="seller" id="seller" class="selectPartyInAddProd" required></select>
                    <input type="text" required name="billNo" id="billNo" placeholder="Bill no.">
                    <input type="text" required name="batch" id="batch" placeholder="Batch number">
                    <input type="text" required name="location" id="location" placeholder="Storage Location">
                    <button class="submit-btn tab-btn" id="sub-btn" type="submit">Save</button>
                </form>
            </div>
            <!-- purchase entry container -->
            <div class="purchase-container" hidden>
                <h2 class="header">Purchase Entry</h2>
                <form id="purchaseEntry-form" action="">
                    <label for="selectParty">Party Name</label>
                    <select name="partySelect" id="selectParty" required></select>
                    <label for="purchaseAmt">Purchase Amout</label>
                    <input required type="number" min="0" id="purchaseAmt">
                    <label for="dateInpurEntry">Purchase Date</label>
                    <input required type="date" id="dateInPurEntry">
                    <label for="billNoInpurEntry">Bill No.</label>
                    <input required type="text" id="billNoInPurEntry">
                    <button id="purEntry-btn" type="submit" class="tab-btn">Save</button>
                </form>
            </div>
            <!-- party manage conatiner  -->
            <div class="partyManage-container" hidden>
                <h2 class="header">Party Manage</h2>
                <div>
                    <select id="partyManageSelcet">
                        <option value="">
                            <-----Select----->
                        </option>
                        <option value="addParty">Add New Party</option>
                        <option value="updateParty">Update New Company</option>
                        <option value="partyHistory">Party Purchase History</option>
                        <option value="companyList">Company Whole Seller List</option>
                    </select>
                </div>
                <div class="addNewPartyDiv" hidden>
                    <form id="partyInfo">
                        <label for="PartyName">Party Name</label>
                        <input required type="text" id="PartyName">
                        <label for="Partyaddress">Address</label>
                        <input required type="text" id="Partyaddress">
                        <label for="PartyMobileNo">Mobile No.</label>
                        <input required type="text" id="PartyMobileNo">
                        <button id="partyInfo-btn" class="tab-btn" type="submit">Save</button>
                    </form>
                </div>
                <div class="updateNewCompanyDiv" hidden>
                    <form id="updateCompanyForm">
                        <label for="selectParty">Party Name</label>
                        <select name="partySelect" id="selectPartyInupdateParty" required></select>
                        <label for="PartyCompany">New Company Name</label>
                        <input type="text" id="PartyCompanyInupdatecompany">
                        <button type="submit" id="updatePartyBtn" class="tab-btn">Save</button>
                    </form>
                </div>
                <div class="partyPurchaseHistoryDiv" hidden>
                    <form id="partyHistoryForm">
                        <label for="selectParty">Party Name</label>
                        <select name="partySelect" id="selectPartyInHistory" required></select>
                        <div class="repoDetail">
                            <label for="historyDatefrom">From</label>
                            <input required id="historyDatefrom" type="date">
                            <label for="historyDateto">To</label>
                            <input required id="historyDateto" type="date">
                        </div>
                        <button type="submit" id="partyHistoryBtn" class="tab-btn">Get Purchase History</button>
                    </form>
                    <table id="partyHistoryDetail"></table>
                </div>
                <div class="companyWholeSellerList" hidden>
                    <label for="inputCompanyParty">Enter Company/Whole-Seller Name</label>
                    <input type="text" id="CompanySellerName">
                    <button id="companyListRef" class="tab-btn">Refresh</button>
                    <table>
                        <tr class="head-tr">
                            <th>Company&emsp;Name&emsp; </th>
                            <th>Whole-Seller&emsp;Name&emsp; </th>
                        </tr>
                    </table>
                    <table id="companyListDiv"></table>
                </div>
            </div>
            <!-- sale purchase report  -->
            <div class="report-container" hidden>
                <h2 class="header">Report</h2>
                <div>
                    <select id="repoSelect">
                        <option value="">
                            <-----Select Report----->
                        </option>
                        <option value="sale">Sale Report</option>
                        <option value="purchase">Purchase Report</option>
                        <option value="profit">Profit Report</option>
                    </select>
                </div>
                <div id="saleRepo" hidden>
                    <div class="repoDetail">
                        <label for="saleDatefrom">From</label>
                        <input required id="saleDatefrom" type="date">
                        <label for="saleDateto">To</label>
                        <input required id="saleDateto" type="date">
                    </div>
                    <button id="getSaleRepo" class="tab-btn">Sell Report</button>
                    <label class="report-label" style="display: flex;justify-content: space-around;margin: auto;">Total
                        Sell</label>
                    <input id="saleReportdiv">
                    <div>
                        <table id="saleRepoDetail"></table>
                    </div>
                </div>
                <div id="purchaseRepo" hidden>
                    <div class="repoDetail">
                        <label for="purcDatefrom">From</label>
                        <input required id="purcDatefrom" type="date">
                        <label for="purcDateto">To</label>
                        <input required id="purcDateto" type="date">
                    </div>
                    <button id="getPurRepo" class="tab-btn">Purchase Report</button>
                    <label class="report-label" style="display: flex;justify-content: space-around;margin: auto;">Total
                        Purchase</label>
                    <input id="purReportdiv">
                    <div>
                        <table id="purRepoDetail"></table>
                    </div>
                </div>
                <div id="profitRepo" hidden>
                    <div class="repoDetail">
                        <label for="profDatefrom">From</label>
                        <input required id="profDatefrom" type="date">
                        <label for="profDateto">To</label>
                        <input required id="profDateto" type="date">
                    </div>
                    <button id="getProfitRepo" class="tab-btn">Profit Report</button>
                    <label class="report-label" style="display: flex;justify-content: space-around;margin: auto;">Total
                        Profit</label>
                    <input id="proReportdiv">
                    <div>
                        <table id="proRepoDetail"></table>
                    </div>
                </div>
            </div>
            <!-- sell container  -->
            <div class="sell-container" hidden>
                <h2 class="header">Sale Entry</h2>
                <table>
                    <tr class="head-tr">
                        <th>Item&emsp;Name&emsp; </th>
                        <th>Pk.Qnty&emsp; </th>
                        <th>MRP&emsp; </th>
                        <th>GST%&emsp;</th>
                        <th>Stock&emsp;tabs/btl&emsp;</th>
                        <th>Location</th>
                    </tr>
                </table>
                <div id="selectedSell-product" style="pointer-events: none;"></div>
                <button id="checkOut-btn" class="searchRef-btn tab-btn">Check Out</button>
                <input type="text" id="sellItem-find" placeholder="Enter product name">
                <button id="ref-btn" class="searchRef-btn two-btn tab-btn">Refresh</button>
                <button id="clr-btn" class="searchRef-btn two-btn tab-btn">Clear All</button>
                <div id="sell-product"></div>
            </div>
            <!-- billing first step  -->
            <div id="first-billing-step-container" hidden>
                <h2 class="header">Sale Bill</h2>
                <div id="invoiceNo" style="display: flex;"><label for="invoiceNo">Invoice No.#<input id="invoNo"
                            value="" type="text"></label></div>
                <form method="POST" autocomplete="off" id="bill-print-form">
                    <table>
                        <tr class="head-tr">
                            <th class="first-bill-th">Item&emsp;Name&emsp;</th>
                            <th class="first-bill-th">Batch&emsp;No.&emsp;</th>
                            <th class="first-bill-th">Exp.&emsp;Date&emsp;</th>
                            <th class="first-bill-th">Qnty&emsp;tabs/btl&emsp;</th>
                            <th class="first-bill-th">MRP&emsp;</th>
                            <th class="first-bill-th">Rate&emsp;</th>
                            <th class="first-bill-th">GST%&emsp;</th>
                            <th class="first-bill-th">Disc%&emsp;</th>
                            <th class="first-bill-th">Total&emsp;</th>

                        </tr>
                    </table>
                    <div id="toCart"></div>
                    <div style="display: flex;margin-top:20px">
                        <label for="PName">Patient Name</label>
                        <label for="mobile">Mobile No.</label>
                        <label for="address">Address</label>
                        <label for="age">Age</label>
                        <label for="drName">Prescribed By</label>
                    </div>
                    <div style="display: flex;">
                        <input id="PName" class="userDetail" type="text" value="" name="pName"
                            placeholder="Patient Name">
                        <input id="mobNo" class="userDetail" type="text" value="" name="mobile"
                            placeholder="Mobile No.">
                        <input id="ads" class="userDetail" type="text" value="" name="address" placeholder="Address">
                        <input id="Page" class="userDetail" type="text" value="" name="age" placeholder="Age">
                        <input id="dr" class="userDetail" type="text" value="" name="drName"
                            placeholder="Prescribed By">
                    </div>

                    <div style="display: flex;margin-top:20px">
                        <label for="gttl">Grand Total</label>
                        <label for="amtPaid">Paid</label>
                        <label for="amtDue">Amount Due</label>
                    </div>
                    <div style="display: flex;">
                        <input name="gttl" id="grand-ttl" type="text" value="0" class="final-amt">
                        <input name="amtPaid" type="text" id="amt-paid" value="0" class="final-amt">
                        <input name="amtDue" type="text" id="amt-due" value="0" class="final-amt">
                        <input type="text" id="profitInthisBill" value="0" style="display: none;">
                    </div>
                    <!-- <a id="go-print-bill" href="http://localhost:5500/front-end/new_sale.html" hidden></a> -->
                    <button id="print-btn" type="submit" class="tab-btn">Print Bill</button>
                </form>
            </div>
            <!-- finding customers old bills  -->
            <div class="findBill-container" hidden>
                <h2 class="header">Patient Purchase History</h2>
                <div class="bill-finder-tool">
                    <form id="oldBillFind-form">
                        <input id="PMobileNo" type="text" required placeholder="Patient's Mobile No.">
                        <button type="submit" id="billFind-btn" class="tab-btn">Find</button>
                        <button id="oldBillRef-btn" type="reset" class="tab-btn">Refresh</button>
                    </form>
                </div>
                <div>
                    <table>
                        <tr class="head-tr">
                            <th>Invoice&emsp;No.&emsp;</th>
                            <th>Patient&emsp;Name&emsp;</th>
                            <th>Mobile&emsp;No.&emsp;</th>
                            <th>Address</th>
                            <th>Age</th>
                            <th>Bill&emsp;Date&emsp;</th>
                            <th>Grand&emsp;Total&emsp;</th>
                            <th>Paid</th>
                            <th>Amount&emsp;Due&emsp;</th>
                        </tr>
                    </table>
                </div>
                <div id="after-findclick" hidden></div>
            </div>
            <!-- near expiry container -->
            <div class="nearExp-container" hidden>
                <h2 class="header">Near Expiry</h2>
                <button id="nearExp-find" class="tab-btn">Search Near Expiry</button>
                <button class="tab-btn clearExp-btn">Clear</button>
                <table>
                    <tr class="head-tr">
                        <th>Item&emsp;Name&emsp; </th>
                        <th>Company&emsp; </th>
                        <th>Pk.Qnty&emsp; </th>
                        <th>MRP&emsp; </th>
                        <th>Exp.Date&emsp; </th>
                        <th>Stock&emsp;tabs/btl&emsp;</th>
                        <th>Location</th>
                    </tr>
                </table>

                <div id="alertProd"></div>
                <div id="nearExp-product"></div>
            </div>
            <!-- manage inventory container  -->
            <div class="manageInvent-container" hidden>
                <h2 class="header">Manage Inventory</h2>
                <div id="goingTodelete" hidden>
                    <table id="deleting-prod">
                        <tr class="head-tr">
                            <th>Item&emsp;Name&emsp; </th>
                            <th>Company&emsp; </th>
                            <th>Pk.Qnty&emsp; </th>
                            <th>MRP&emsp; </th>
                            <th>Exp.Date&emsp; </th>
                            <th>Stock&emsp;tabs/btl&emsp;</th>
                            <th>Party&emsp;</th>
                            <th>Location</th>
                        </tr>
                        <!-- <tr id="deleting-prod"></tr> -->
                    </table>
                    <div id="deleteList"></div>
                </div>
                <button id="deleteMatch-product" class="tab-btn">Print-n-Delete</button>
                <input type="text" id="deleteProd-find" placeholder="Enter product name">
                <button id="deleteRef-btn" class="tab-btn">Refresh</button>
                <table id="deleteRes-table">
                    <tr class="head-tr">
                        <th>Item&emsp;Name&emsp; </th>
                        <th>Company&emsp; </th>
                        <th>Pk.Qnty&emsp; </th>
                        <th>MRP&emsp; </th>
                        <th>Exp.Date&emsp; </th>
                        <th>Stock&emsp;tabs/btl&emsp;</th>
                        <th>Party&emsp;</th>
                        <th>Location</th>
                    </tr>
                </table>
                <div id="delete-product"></div>
            </div>
        </div>
    </div>
    <!-- invoice container  -->
    <div id="invoice-print" class="print-sale-container" hidden>
        <div class="outer-most-boundry">
            <div class="upper-head-tax">TAX INVOICE</div>
            <div class="info-div">
                <div class="store-info">
                    <h4>AGRAWAL MEDICAL AND GENERAL STORE</h4>
                    <h5 class="store-h5">BajrangPara,Main Road,Near Electric Office,Silyari,Raipur,(C.G.)</h5>
                    <h5 class="store-h5">Silyari Raipur (C.G.)</h5>
                    <h5 class="store-h5">Raipur-492001</h5>
                    <h5 class="store-h5">Mob.:7987575131</h5>
                    <h5 class="store-h5">DL.NO.: 20/CG-RZ1-40016,21/40017</h5>
                </div>
                <div class="patient-info">
                    <h5>Patient Name&emsp;: <input id="pName" type="text"></h5>
                    <h5>Mobile No. &emsp; &emsp;: <input id="mob" type="text"></h5>
                    <h5>Dr.Name.&emsp;&emsp;&emsp;: <input id="drName" type="text"></h5>
                    <h5>Age &emsp;&emsp;&emsp;&emsp; &emsp;: <input id="age" type="text"></h5>
                    <h5>Address&emsp; &emsp; &emsp;: <input id="adrs" type="text"></h5>
                    <h5>Date &emsp; &emsp;&emsp; &emsp; : <input id="bil-date" value="0" type="text"></h5>
                    <h5>Invoice No.&emsp;&emsp; : <input id="invo" style="font-weight: bold;" type="text"></h5>
                </div>
            </div>
            <div class="discription-header" style="font-weight: bolder;border-bottom:2px solid black">
                <h4 id="sno" class="item-desc">S.No</h4>
                <h4 id="im" class="item-desc">Item Name</h4>
                <h4 id="qty" class="item-desc">Qty.</h4>
                <h4 id="exp" class="item-desc">Exp. (mm-dd-yy)</h4>
                <h4 id="bth" class="item-desc">Batch</h4>
                <h4 id="hsc" class="item-desc">HSN /SAC</h4>
                <h4 id="mrp" class="item-desc">MRP</h4>
                <h4 id="rt" class="item-desc">Rate</h4>
                <h4 id="ct" class="item-desc">CGST %</h4>
                <h4 id="st" class="item-desc">SGST %</h4>
                <h4 id="dis" class="item-desc">Disc . %</h4>
                <h4 id="ttl" class="item-desc">Total</h4>
            </div>
            <div id="res-items-to-print"></div>

            <div class="amt-words" style="border-bottom: 2px solid black;padding-left:5px">
                <h4>Amt. in words. : <h4 id="in-words"></h4>
                </h4>
            </div>
            <div class="amt-calc">
                <div class="terms-condi-part">
                    <h4>Terms & Conditions</h4>
                    <h5>1.Goods once sold will not be returned back</h5>
                    <h5>2.Subject to Raipur Judiciary Only</h5>
                    <h5>3.Amount due should to paid with in 10 days from the bill/invoice date</h5>
                </div>
                <div class="recieveing">
                    <div class="receiver_sign">
                        <h4>Receiver's Signature:</h4>
                    </div>
                    <div class="store-seal">
                        <h3>.</h3>
                        <h3></h3>
                        <h5>Store Seal</h5>
                        <h3></h3>
                    </div>
                    <div class="str-nm-sign">
                        <h5>For Agrawal Medical & General Store,Silyari</h5>
                        <h1></h1>
                        <h5>Authorized Signature</h5>
                    </div>
                </div>
                <div class="cal-part">
                    <h4>Sum Total &emsp; : <input id="bil-Ttl" style="width: 12%;" type="text">&emsp;Total Tax. Amt. :
                        <input id="taxRs" style="width: 12%;" type="text">
                    </h4>
                    <h4>Discount Rs&emsp;: <input id="DiscRs" style="width: 12%;" type="text">&emsp; Round
                        Off&emsp;&emsp;: <input id="ROff" style="width: 12%;" type="text"></h4>
                    <h4>Grand Total &emsp;: <input id="g-ttl" style="width: 12%;" type="text">&emsp; Paid&emsp;&emsp;
                        &emsp; &emsp;: <input id="at-paid" style="width: 12%;" type="text"></h4>
                    <h4>Amt.Due&emsp; &emsp; : <input id="at-due" style="width: 12%;" type="text"></h4>
                </div>
            </div>
        </div>
    </div>
    <script src="./js/ajax.js"></script>
    <script src="./js/addProd.js"></script>
    <script src="./js/search.js"></script>
    <script src="./js/sale.js"></script>
    <script src="./js/dom.js"></script>
    <script src="./js/nearExp.js"></script>
    <script src="./js/login.js"></script>
    <script src="./js/billFind.js"></script>
    <script src="./js/deleteProd.js"></script>
    <script src="./js/partyPurMange.js"></script>
    <script src="./js/salePurchase.js"></script>
</body>

</html>